.navbar .navbar-dark {
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

#banner {
	padding-top: 50px;
	text-align: center;
}

#showcase {
	text-align: center;
	padding-top: 30px;
	background-color: rgb(230, 225, 219);
}

.intro {
	padding: 50px;
}