<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SitePuller</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>

<body>
    {% block navbar %}
    <nav class="ui">
        <div id="navbar" class="ui inverted  menu">
           <div class="ui container">
            <a class="item">
                Home
            </a>
            <a href="/trial" class="item">
                Trial
            </a>
            <a href="/webdesign" class="item">
                Web Development
            </a>
            <a href="/android" class="item">
                Android Development
            </a>
            <div class="right menu">
                <a href="/login" class="item">
                    Login
                </a>
                <a href="/register" class="item">
                    Register
                </a>
            </div>
           </div>
        </div>
    </nav>
    {% endblock navbar %}
    {% block content %}

    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
</body>

</html>