{% extends 'base.html' %}

{% block content %}
<section id="banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Why robotics</h2>
                    <p>Robotics is the skill for the future, don't miss it out learn robotics</p>
                    <a class="btn intro" href="/register">Get Started</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
{% endblock content %}