{% extends 'base.html' %}

{% block content %}
    <section id="services">
        <div class="ui container">
            <div class="ui grid">
                <form action="" class="ui form">
                    <div class="field">
                        <label>Enter the url for the website</label>
                        <input type="url" name="url" placeholder="https://example.com">
                      </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}